
body{
  background-color: #ECF0F1;
}

.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 75px;
  background-color: #F2F3F4;
  border-bottom: 1px solid #D5D8DC;
  position: fixed;
  width: 100%;
  top: 0;

}

.logo a{
  color: black;
  text-decoration: none;
}

.leftItem{
  display: flex;
}

.logo{
  flex: none;
  font-size: large;
  font-weight: bold;
  padding-top: 13px;
  padding-left: 5%;
}

ul{
  display: flex;
}

.icons{
  display: flex;
  justify-content: flex-end;
}

.icon{
  padding: 15px;
  cursor: pointer;
}

.menu li {
  list-style: none;
  padding-right: 30px;
  cursor: pointer;
  flex: none;
}

.home{
 
  padding-left: 5em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.card{
  margin-top: 100px;
  background-color:;
  /* border: 1px solid #D5D8DC; */
}

.card button{
  background-color: #D5D8DC;
  padding: 0 15px 0 15px;
  border-radius: 5px;
}

.card_description{
  padding: 0 30px 0 30px;
  display: flex;
  flex-direction: column;
}

.buyBtn{
  display: flex;
  justify-content: space-between
}